@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('space\ 2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.login {
    color: rgba(255, 255, 255, 0.788);
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    max-width: 400px;
    padding: 80px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.308);
    text-align: center;
    backdrop-filter: blur(0.3px);
}

form {
    display: flex;
    flex-direction: column;
    gap: 1px; 
    align-items: center;
    width: 100%;
}

.input-box {
    position: relative;
    width: 100%;
    max-width: 300px;
    margin: 0 auto; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
}

.input-box input {
    width: 100%;
    padding: 12px 40px 12px 12px;
    border: 2px solid rgb(53, 76, 207);
    border-radius: 40px;
    font-size: 16px;
    background: transparent;
    outline: none;
    display: block;
    text-align: left;
}

.input-box i {
    position: absolute;
    right: 0.1px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: rgb(53, 76, 207);
}

button {
    padding: 12px;
    background-color: rgb(53, 76, 207);
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-size: 15px;
    width: 100%;
    max-width: 300px; 
    display: block;
    text-align: center;
    align-items: center;
    margin: 0; 
}

button:hover {
    background-color: rgb(52, 104, 201);
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 300px;
    margin: 5px;
}

.remember-forgot label {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.877);
    cursor: pointer;
}

.remember-forgot input[type="checkbox"] {
    width: 14px;
    height: 14px;
    cursor: pointer;
}

a {
    color: rgba(255, 255, 255, 0.877);
    font-size: 16px;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
}
